<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">功能导航</li>
       <li>
          <a href="#/ajax/user" id="sys-user">
            <i class="fa fa-th"></i> <span>用户管理</span>
          </a>
        </li>
      <li class="header">应用列表</li>
      <li>
      	<a href="#/ajax/cloud/paas" id="app-paas">
         	<i class="fa fa-th"></i> <span>PaaS平台</span>
      	</a>
      </li>
      <li>
      	<a href="#/ajax/cloud/iaas" id="app-iaas">
         	<i class="fa fa-th"></i> <span>IaaS平台</span>
      	</a>
      </li>
      <li>
        <a href="#/ajax/cloud/sdnvcfc" id="app-sdnvcfc">
          <i class="fa fa-th"></i> <span>SDN控制器-VCFC</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/onestore" id="app-onestore">
          <i class="fa fa-th"></i> <span>分布式云存储</span>
        </a>
      </li> 
      <li>
        <a href="#/ajax/cloud/cas" id="app-cas">
          <i class="fa fa-th"></i> <span>CAS云平台管理</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/hcloud" id="app-hcloud">
          <i class="fa fa-th"></i> <span>H3CLOUD云管平台</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/monitor" id="app-monitor">
          <i class="fa fa-th"></i> <span>H3CLOUD云管平台-监控平台</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/cis" id="app-cis">
          <i class="fa fa-th"></i> <span>CIS可视化</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/fusionInsight" id="app-fusionInsight">
          <i class="fa fa-th"></i> <span>FusionInsight可视化</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/fireHunter" id="app-fireHunter">
          <i class="fa fa-th"></i> <span>FireHunter可视化</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/firewall" id="app-firewall">
          <i class="fa fa-th"></i> <span>防火墙可视化</span>
        </a>
      </li>
      <li>
        <a href="#/ajax/cloud/eSgiht" id="app-eSgiht">
          <i class="fa fa-th"></i> <span>eSgiht</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
