<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">功能导航</li>
       <li>
          <a href="#/ajax/user" id="sys-user">
            <i class="fa fa-th"></i> <span>用户管理</span>
          </a>
        </li>
      <li class="header">应用列表</li>
      <li>
      	<a href="#/ajax/cloud/paas" id="app-paas">
         	<i class="fa fa-th"></i> <span>PaaS平台</span>
      	</a>
      </li>
      <li>
      	<a href="#/ajax/cloud/iaas" id="app-iaas">
         	<i class="fa fa-th"></i> <span>IaaS平台</span>
      	</a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
